# INFO 212: Data Science Programming 1
## CCI at Drexel University


## Week 8 Lab : Cleaning and Aggregation

In [186]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Exercise 1

1. Download and upload the nba-2016.csv. Create a DataFrame df from the data set. Show information of the DataFrame.

In [187]:
df = pd.read_csv("/Users/mustafabookwala/Desktop/Drexel/Pre-Junior/Fall 2024/INFO 212/Week 8/nba-2016(3).csv")  # Loading the dataframe
print(f"Columns of Dataframe: {df.columns}\n")  # Displaying Column Names
print(f"First five rows of Dataframe: {df.head()}\n")  # Displaying first five entries
print(df.describe())  # Displaying statistical information about numerical columns

Columns of Dataframe: Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Notes'],
      dtype='object')

First five rows of Dataframe:               Date Start (ET)       Visitor/Neutral  PTS  \
0  Tue Oct 27 2015      8:00p   Cleveland Cavaliers   95
1  Tue Oct 27 2015      8:00p       Detroit Pistons  106
2  Tue Oct 27 2015     10:30p  New Orleans Pelicans   95
3  Wed Oct 28 2015      7:00p    Washington Wizards   88
4  Wed Oct 28 2015      7:30p    Philadelphia 76ers   95

            Home/Neutral  PTS.1 Unnamed: 6 Unnamed: 7  Attend. Notes
0          Chicago Bulls     97  Box Score        NaN    21957   NaN
1          Atlanta Hawks     94  Box Score        NaN    19187   NaN
2  Golden State Warriors    111  Box Score        NaN    19596   NaN
3          Orlando Magic     87  Box Score        NaN    18846   NaN
4         Boston Celtics    112  Box Score        NaN    18624   NaN

               PTS        PTS.1       Attend.
count  1316.000000  1316.000000   1316.000000
mean    100.971884   103.999240  17970.163374
std      11.758921    11.705285   2288.311062
min      68.000000    68.000000   9153.000000
25%      93.000000    96.000000  16983.000000
50%     101.000000   104.000000  18418.000000
75%     109.000000   112.000000  19600.000000
max     147.000000   144.000000  23152.000000

2. Does the dataset have mssing values? Compute the percentage of missing values overall.

In [200]:
df = df.rename(columns={'PTS': 'Visitor PTS', 'PTS.1': 'Home PTS', 'Unnamed: 6': 'Score Type', 'Unnamed: 7': 'OT'})  # Renaming certain unnamed and repetitive named columns
        
print(f"Total % of missing values in dataframe: {round(((df.isnull().sum().sum())/(df.shape[0] * df.shape[1])) * 100, 2)}%")  # Calculating and printing the number of null values in the entire dataframe

Total % of missing values in dataframe: 2.09%

3. List the number and percentage of missing values for each row.

In [204]:
# Loop through each row of the DataFrame
for index, row in df.iterrows():  
    # Check if the current row has any missing values
    if row.isnull().sum() > 0:  
        # Calculate the percentage of missing values in the current row
        percentage_missing = round((row.isnull().sum() / df.shape[1]) * 100, 2)
        
        # Display the number and percentage of missing values for each row
        print(f"Row {index+1} has {row.isnull().sum()} missing values, which is {percentage_missing}%")

Row 1 has 2 missing values, which is 18.18%
Row 2 has 2 missing values, which is 18.18%
Row 3 has 2 missing values, which is 18.18%
Row 4 has 2 missing values, which is 18.18%
Row 5 has 2 missing values, which is 18.18%
Row 6 has 2 missing values, which is 18.18%
Row 7 has 2 missing values, which is 18.18%
Row 8 has 2 missing values, which is 18.18%
Row 9 has 2 missing values, which is 18.18%
Row 10 has 2 missing values, which is 18.18%
Row 11 has 2 missing values, which is 18.18%
Row 12 has 2 missing values, which is 18.18%
Row 13 has 2 missing values, which is 18.18%
Row 14 has 2 missing values, which is 18.18%
Row 15 has 2 missing values, which is 18.18%
Row 16 has 2 missing values, which is 18.18%
Row 17 has 2 missing values, which is 18.18%
Row 18 has 2 missing values, which is 18.18%
Row 19 has 2 missing values, which is 18.18%
Row 20 has 2 missing values, which is 18.18%
Row 21 has 2 missing values, which is 18.18%
Row 22 has 2 missing values, which is 18.18%
Row 23 has 1 missing values, which is 9.09%
Row 24 has 1 missing values, which is 9.09%
Row 25 has 1 missing values, which is 9.09%
Row 26 has 1 missing values, which is 9.09%
Row 27 has 1 missing values, which is 9.09%
Row 28 has 1 missing values, which is 9.09%
Row 29 has 1 missing values, which is 9.09%
Row 30 has 1 missing values, which is 9.09%
Row 31 has 1 missing values, which is 9.09%
Row 32 has 1 missing values, which is 9.09%
Row 33 has 1 missing values, which is 9.09%
Row 34 has 1 missing values, which is 9.09%
Row 35 has 1 missing values, which is 9.09%
Row 36 has 1 missing values, which is 9.09%
Row 37 has 1 missing values, which is 9.09%
Row 38 has 1 missing values, which is 9.09%
Row 39 has 1 missing values, which is 9.09%
Row 40 has 1 missing values, which is 9.09%
Row 41 has 1 missing values, which is 9.09%
Row 42 has 1 missing values, which is 9.09%
Row 43 has 1 missing values, which is 9.09%
Row 44 has 1 missing values, which is 9.09%
Row 45 has 1 missing values, which is 9.09%
Row 46 has 1 missing values, which is 9.09%
Row 47 has 1 missing values, which is 9.09%
Row 48 has 1 missing values, which is 9.09%
Row 49 has 1 missing values, which is 9.09%
Row 50 has 1 missing values, which is 9.09%
Row 51 has 1 missing values, which is 9.09%
Row 52 has 1 missing values, which is 9.09%
Row 53 has 1 missing values, which is 9.09%
Row 54 has 1 missing values, which is 9.09%
Row 55 has 1 missing values, which is 9.09%
Row 56 has 1 missing values, which is 9.09%
Row 57 has 1 missing values, which is 9.09%
Row 58 has 1 missing values, which is 9.09%
Row 59 has 1 missing values, which is 9.09%
Row 60 has 1 missing values, which is 9.09%
Row 61 has 1 missing values, which is 9.09%
Row 62 has 1 missing values, which is 9.09%
Row 63 has 1 missing values, which is 9.09%
Row 64 has 1 missing values, which is 9.09%
Row 65 has 1 missing values, which is 9.09%
Row 66 has 1 missing values, which is 9.09%
Row 67 has 1 missing values, which is 9.09%
Row 68 has 1 missing values, which is 9.09%
Row 69 has 1 missing values, which is 9.09%
Row 70 has 1 missing values, which is 9.09%
Row 71 has 1 missing values, which is 9.09%
Row 72 has 1 missing values, which is 9.09%
Row 73 has 1 missing values, which is 9.09%
Row 74 has 1 missing values, which is 9.09%
Row 75 has 1 missing values, which is 9.09%
Row 76 has 1 missing values, which is 9.09%
Row 77 has 1 missing values, which is 9.09%
Row 78 has 1 missing values, which is 9.09%
Row 79 has 1 missing values, which is 9.09%
Row 80 has 1 missing values, which is 9.09%
Row 81 has 1 missing values, which is 9.09%
Row 82 has 1 missing values, which is 9.09%
Row 83 has 1 missing values, which is 9.09%
Row 84 has 1 missing values, which is 9.09%
Row 85 has 1 missing values, which is 9.09%
Row 86 has 1 missing values, which is 9.09%
Row 87 has 1 missing values, which is 9.09%
Row 88 has 1 missing values, which is 9.09%
Row 89 has 1 missing values, which is 9.09%
Row 90 has 1 missing values, which is 9.09%
Row 91 has 1 missing values, which is 9.09%
Row 92 has 1 missing values, which is 9.09%
Row 93 has 1 missing values, which is 9.09%
Row 94 has 1 missing values, which is 9.09%
Row 95 has 1 missing values, which is 9.09%
Row 96 has 1 missing values, which is 9.09%
Row 97 has 1 missing values, which is 9.09%
Row 98 has 1 missing values, which is 9.09%
Row 99 has 1 missing values, which is 9.09%
Row 100 has 1 missing values, which is 9.09%
Row 101 has 1 missing values, which is 9.09%
Row 102 has 1 missing values, which is 9.09%
Row 103 has 1 missing values, which is 9.09%
Row 104 has 1 missing values, which is 9.09%
Row 105 has 1 missing values, which is 9.09%
Row 106 has 1 missing values, which is 9.09%
Row 107 has 1 missing values, which is 9.09%
Row 108 has 1 missing values, which is 9.09%
Row 109 has 1 missing values, which is 9.09%
Row 110 has 1 missing values, which is 9.09%
Row 111 has 1 missing values, which is 9.09%
Row 112 has 1 missing values, which is 9.09%
Row 113 has 1 missing values, which is 9.09%
Row 114 has 1 missing values, which is 9.09%
Row 115 has 1 missing values, which is 9.09%
Row 116 has 1 missing values, which is 9.09%
Row 117 has 1 missing values, which is 9.09%
Row 118 has 1 missing values, which is 9.09%
Row 119 has 1 missing values, which is 9.09%
Row 120 has 1 missing values, which is 9.09%
Row 121 has 1 missing values, which is 9.09%
Row 122 has 1 missing values, which is 9.09%
Row 123 has 1 missing values, which is 9.09%
Row 124 has 1 missing values, which is 9.09%
Row 125 has 1 missing values, which is 9.09%
Row 126 has 1 missing values, which is 9.09%
Row 127 has 1 missing values, which is 9.09%
Row 128 has 1 missing values, which is 9.09%
Row 129 has 1 missing values, which is 9.09%
Row 130 has 1 missing values, which is 9.09%
Row 131 has 1 missing values, which is 9.09%
Row 132 has 1 missing values, which is 9.09%
Row 133 has 1 missing values, which is 9.09%
Row 134 has 1 missing values, which is 9.09%
Row 135 has 1 missing values, which is 9.09%
Row 136 has 1 missing values, which is 9.09%
Row 137 has 1 missing values, which is 9.09%
Row 138 has 1 missing values, which is 9.09%
Row 139 has 1 missing values, which is 9.09%
Row 140 has 1 missing values, which is 9.09%
Row 141 has 1 missing values, which is 9.09%
Row 142 has 1 missing values, which is 9.09%
Row 143 has 1 missing values, which is 9.09%
Row 144 has 1 missing values, which is 9.09%
Row 145 has 1 missing values, which is 9.09%
Row 146 has 1 missing values, which is 9.09%
Row 147 has 1 missing values, which is 9.09%
Row 148 has 1 missing values, which is 9.09%
Row 149 has 1 missing values, which is 9.09%
Row 150 has 1 missing values, which is 9.09%
Row 151 has 1 missing values, which is 9.09%
Row 152 has 1 missing values, which is 9.09%
Row 153 has 1 missing values, which is 9.09%
Row 154 has 1 missing values, which is 9.09%
Row 155 has 1 missing values, which is 9.09%
Row 156 has 1 missing values, which is 9.09%
Row 157 has 1 missing values, which is 9.09%
Row 158 has 1 missing values, which is 9.09%
Row 159 has 1 missing values, which is 9.09%
Row 160 has 1 missing values, which is 9.09%
Row 161 has 1 missing values, which is 9.09%
Row 162 has 1 missing values, which is 9.09%
Row 163 has 1 missing values, which is 9.09%
Row 164 has 1 missing values, which is 9.09%
Row 165 has 1 missing values, which is 9.09%
Row 166 has 1 missing values, which is 9.09%
Row 167 has 1 missing values, which is 9.09%
Row 168 has 1 missing values, which is 9.09%
Row 169 has 1 missing values, which is 9.09%
Row 170 has 1 missing values, which is 9.09%
Row 171 has 1 missing values, which is 9.09%
Row 172 has 1 missing values, which is 9.09%
Row 173 has 1 missing values, which is 9.09%
Row 174 has 1 missing values, which is 9.09%
Row 175 has 1 missing values, which is 9.09%
Row 176 has 1 missing values, which is 9.09%
Row 177 has 1 missing values, which is 9.09%
Row 178 has 1 missing values, which is 9.09%
Row 179 has 1 missing values, which is 9.09%
Row 180 has 1 missing values, which is 9.09%
Row 181 has 1 missing values, which is 9.09%
Row 182 has 1 missing values, which is 9.09%
Row 183 has 1 missing values, which is 9.09%
Row 184 has 1 missing values, which is 9.09%
Row 185 has 1 missing values, which is 9.09%
Row 186 has 1 missing values, which is 9.09%
Row 187 has 1 missing values, which is 9.09%
Row 188 has 1 missing values, which is 9.09%
Row 189 has 1 missing values, which is 9.09%
Row 190 has 1 missing values, which is 9.09%
Row 191 has 1 missing values, which is 9.09%
Row 192 has 1 missing values, which is 9.09%
Row 193 has 1 missing values, which is 9.09%
Row 194 has 1 missing values, which is 9.09%
Row 195 has 1 missing values, which is 9.09%
Row 196 has 1 missing values, which is 9.09%
Row 197 has 1 missing values, which is 9.09%
Row 198 has 1 missing values, which is 9.09%
Row 199 has 1 missing values, which is 9.09%
Row 200 has 1 missing values, which is 9.09%
Row 201 has 1 missing values, which is 9.09%
Row 202 has 1 missing values, which is 9.09%
Row 203 has 1 missing values, which is 9.09%
Row 204 has 1 missing values, which is 9.09%
Row 205 has 1 missing values, which is 9.09%
Row 206 has 1 missing values, which is 9.09%
Row 207 has 1 missing values, which is 9.09%
Row 208 has 1 missing values, which is 9.09%
Row 209 has 1 missing values, which is 9.09%
Row 210 has 1 missing values, which is 9.09%
Row 211 has 1 missing values, which is 9.09%
Row 212 has 1 missing values, which is 9.09%
Row 213 has 1 missing values, which is 9.09%
Row 214 has 1 missing values, which is 9.09%
Row 215 has 1 missing values, which is 9.09%
Row 216 has 1 missing values, which is 9.09%
Row 217 has 1 missing values, which is 9.09%
Row 218 has 1 missing values, which is 9.09%
Row 219 has 1 missing values, which is 9.09%
Row 220 has 1 missing values, which is 9.09%
Row 221 has 1 missing values, which is 9.09%
Row 222 has 1 missing values, which is 9.09%
Row 223 has 1 missing values, which is 9.09%
Row 224 has 1 missing values, which is 9.09%
Row 225 has 1 missing values, which is 9.09%
Row 226 has 1 missing values, which is 9.09%
Row 227 has 1 missing values, which is 9.09%
Row 228 has 1 missing values, which is 9.09%
Row 229 has 1 missing values, which is 9.09%
Row 230 has 1 missing values, which is 9.09%
Row 231 has 1 missing values, which is 9.09%
Row 232 has 1 missing values, which is 9.09%
Row 233 has 1 missing values, which is 9.09%
Row 234 has 1 missing values, which is 9.09%
Row 235 has 1 missing values, which is 9.09%
Row 236 has 1 missing values, which is 9.09%
Row 237 has 1 missing values, which is 9.09%
Row 238 has 1 missing values, which is 9.09%
Row 239 has 1 missing values, which is 9.09%
Row 240 has 1 missing values, which is 9.09%
Row 241 has 1 missing values, which is 9.09%
Row 242 has 1 missing values, which is 9.09%
Row 243 has 1 missing values, which is 9.09%
Row 244 has 1 missing values, which is 9.09%
Row 245 has 1 missing values, which is 9.09%
Row 246 has 1 missing values, which is 9.09%
Row 247 has 1 missing values, which is 9.09%
Row 248 has 1 missing values, which is 9.09%
Row 249 has 1 missing values, which is 9.09%
Row 250 has 1 missing values, which is 9.09%
Row 251 has 1 missing values, which is 9.09%
Row 252 has 1 missing values, which is 9.09%
Row 253 has 1 missing values, which is 9.09%
Row 254 has 1 missing values, which is 9.09%
Row 255 has 1 missing values, which is 9.09%
Row 256 has 1 missing values, which is 9.09%
Row 257 has 1 missing values, which is 9.09%
Row 258 has 1 missing values, which is 9.09%
Row 259 has 1 missing values, which is 9.09%
Row 260 has 1 missing values, which is 9.09%
Row 261 has 1 missing values, which is 9.09%
Row 262 has 1 missing values, which is 9.09%
Row 263 has 1 missing values, which is 9.09%
Row 264 has 1 missing values, which is 9.09%
Row 265 has 1 missing values, which is 9.09%
Row 266 has 1 missing values, which is 9.09%
Row 267 has 1 missing values, which is 9.09%
Row 268 has 1 missing values, which is 9.09%
Row 269 has 1 missing values, which is 9.09%
Row 270 has 1 missing values, which is 9.09%
Row 271 has 1 missing values, which is 9.09%
Row 272 has 1 missing values, which is 9.09%
Row 273 has 1 missing values, which is 9.09%
Row 274 has 1 missing values, which is 9.09%
Row 275 has 1 missing values, which is 9.09%
Row 276 has 1 missing values, which is 9.09%
Row 277 has 1 missing values, which is 9.09%
Row 278 has 1 missing values, which is 9.09%
Row 279 has 1 missing values, which is 9.09%
Row 280 has 1 missing values, which is 9.09%
Row 281 has 1 missing values, which is 9.09%

4. List the number and percentage of missing values for each column.

In [190]:
# Loop through each column in the DataFrame
for column in df.columns:  
    # Check if the current column has any missing values
    if (df[column].isnull().sum()) > 0:  
        # Calculate the percentage of missing values in the current column
        percentage_missing = round((((df[column].isnull().sum()) / df.shape[0]) * 100), 2)
        
        # Display the number and percentage of missing values for each column
        print(f"Column {column} has {df[column].isnull().sum()} missing values, which is {percentage_missing}%")

Column OT has 1234 missing values, which is 93.77%
Column Notes has 1314 missing values, which is 99.85%

5. If there are missing values for a column, forward fill the missing values. Does it make sense to forward or backward fill the missing values for each row?

In [191]:
# Filling all the missing values in the DataFrame by forward filling
df = df.fillna(method='ffill')

# Calculating the total percentage of missing values in the entire DataFrame and displaying it
print(f"Total % of missing values in dataframe: {round(((df.isnull().sum().sum())/(df.shape[0] * df.shape[1])) * 100, 2)}%")

Total % of missing values in dataframe: 2.3%

/var/folders/mw/4snkpx0970n_6rz3jtvq4yxr0000gn/T/ipykernel_2391/148989059.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

^ In this case, it does not make sense to forward fill or backward fill this dataframe because the preceding value does not affect the missing entires. However, if the puprose is to just fill up all uncovered values, then it is best in this case to forward fill since there are less null values (23) than there would have been in backward fill (24).

6. Group by the Visitor/Neutral teams. Compute the aveage points (PTS) for each team playing as visiting team.

In [192]:
# Grouping the DataFrame by the 'Visitor/Neutral' column and calculating the average points scored by each visiting team
average_pts_visiting_team = df.groupby('Visitor/Neutral')['Visitor PTS'].mean()

# Printing the result
print(average_pts_visiting_team)

Visitor/Neutral
Atlanta Hawks             101.717391
Boston Celtics            104.022727
Brooklyn Nets              98.365854
Charlotte Hornets         100.266667
Chicago Bulls             101.463415
Cleveland Cavaliers       101.384615
Dallas Mavericks           99.318182
Denver Nuggets            100.121951
Detroit Pistons            98.720930
Golden State Warriors     112.098039
Houston Rockets           105.568182
Indiana Pacers            100.622222
Los Angeles Clippers      103.340909
Los Angeles Lakers         97.878049
Memphis Grizzlies          95.162791
Miami Heat                 96.000000
Milwaukee Bucks            97.243902
Minnesota Timberwolves    103.317073
New Orleans Pelicans       99.512195
New York Knicks            97.878049
Oklahoma City Thunder     109.600000
Orlando Magic              99.609756
Philadelphia 76ers         96.756098
Phoenix Suns               98.634146
Portland Trail Blazers    102.170213
Sacramento Kings          105.609756
San Antonio Spurs         101.891304
Toronto Raptors            98.200000
Utah Jazz                  96.804878
Washington Wizards        102.121951
Name: Visitor PTS, dtype: float64

7. Add a new column 'VisitorWon' which has True for the Visiting team won and False otherwise.

In [193]:
# Creating a new column 'VisitorWon' to check if the visiting team won the game
df['VisitorWon'] = df['Visitor PTS'] > df['Home PTS']

# Printing the 'VisitorWon' column
print(df['VisitorWon'])

0       False
1        True
2       False
3        True
4       False
        ...
1311    False
1312     True
1313     True
1314    False
1315     True
Name: VisitorWon, Length: 1316, dtype: bool

8. Compute the rate of VisitorWon for each team playing away during the 2016 season, in descending order.

In [194]:
# Filtering the DataFrame to include only rows where the 'Date' column ends with '2016'
df_2016 = df[df['Date'].str[-4:] == '2016']

# Grouping the filtered DataFrame by the 'Visitor/Neutral' column and calculating the average of the 'VisitorWon' column for each visiting team
visitor_win_rate = df_2016.groupby('Visitor/Neutral')['VisitorWon'].mean()

# Sorting the win rates in descending order and printing the result to see the win %age for each visiting team during the 2016 season
print(f"{visitor_win_rate.sort_values(ascending=False)*100}")

Visitor/Neutral
San Antonio Spurs         67.741935
Golden State Warriors     67.647059
Cleveland Cavaliers       63.888889
Oklahoma City Thunder     56.756757
Toronto Raptors           50.000000
Los Angeles Clippers      50.000000
Washington Wizards        46.153846
Miami Heat                45.945946
Charlotte Hornets         45.454545
Indiana Pacers            44.827586
Atlanta Hawks             43.333333
Portland Trail Blazers    42.307692
Utah Jazz                 42.307692
Sacramento Kings          42.307692
Detroit Pistons           42.307692
Houston Rockets           41.379310
Dallas Mavericks          40.740741
Boston Celtics            37.931034
Chicago Bulls             37.931034
Denver Nuggets            34.782609
Memphis Grizzlies         34.615385
Minnesota Timberwolves    32.000000
New York Knicks           29.166667
Milwaukee Bucks           27.272727
New Orleans Pelicans      26.086957
Phoenix Suns              20.833333
Orlando Magic             18.518519
Brooklyn Nets             16.000000
Los Angeles Lakers         5.263158
Philadelphia 76ers         5.000000
Name: VisitorWon, dtype: float64

9. Define a function 'top' that returns the top two rows based on a given col value. List each team's top 2 winning visiting games in which the team got top 2 highest points. Order the results by team names.

In [195]:
# Function to get the top 'n' rows based on the column 'col'
def top(df, col, n=2):
    return df.nlargest(n, col)

# Group the DataFrame by visiting teams
grouped = df.groupby('Visitor/Neutral')

# List to store top games for each team
results = []

# Loop through each team and get their top 2 games by points
for team_name, group in grouped:
    top_rows = top(group, 'Visitor PTS', n=2)
    results.append(top_rows)

# Combine all top rows into one DataFrame
top_visiting_games = pd.concat(results)

# Sort by team names and reset the index
top_visiting_games = top_visiting_games.sort_values(by='Visitor/Neutral').reset_index(drop=True)

# Print the top 2 games for each visiting team
print(top_visiting_games)

               Date Start (ET)         Visitor/Neutral  Visitor PTS  \
0    Thu Jan 7 2016      7:00p           Atlanta Hawks          126
1    Wed Feb 3 2016      7:00p           Atlanta Hawks          124
2   Mon Feb 22 2016      8:00p          Boston Celtics          122
3   Sun Feb 21 2016      5:00p          Boston Celtics          121
4    Fri Mar 4 2016      9:00p           Brooklyn Nets          121
5    Sat Mar 5 2016      8:00p           Brooklyn Nets          118
6   Mon Jan 25 2016     10:00p       Charlotte Hornets          129
7   Fri Dec 11 2015      8:00p       Charlotte Hornets          123
8   Mon Apr 11 2016      8:00p           Chicago Bulls          121
9   Wed Oct 28 2015      7:30p           Chicago Bulls          115
10   Fri Jan 8 2016      8:00p     Cleveland Cavaliers          125
11   Wed Jan 6 2016      7:00p     Cleveland Cavaliers          121
12  Wed Dec 23 2015      7:30p        Dallas Mavericks          119
13  Fri Mar 25 2016     10:30p        Dallas Mavericks          120
14   Tue Nov 3 2015     10:30p          Denver Nuggets          120
15  Mon Mar 14 2016      7:30p          Denver Nuggets          119
16  Fri Dec 18 2015      8:00p         Detroit Pistons          147
17  Sat Mar 12 2016      7:00p         Detroit Pistons          125
18  Fri Nov 27 2015      9:30p   Golden State Warriors          135
19  Sat Oct 31 2015      7:30p   Golden State Warriors          134
20  Mon Jan 18 2016     10:30p         Houston Rockets          132
21  Mon Apr 11 2016      8:00p         Houston Rockets          129
22  Sun Jan 17 2016      8:00p          Indiana Pacers          126
23  Tue Nov 24 2015      7:00p          Indiana Pacers          123
24  Wed Feb 10 2016      7:30p    Los Angeles Clippers          134
25  Wed Dec 30 2015      7:00p    Los Angeles Clippers          122
26   Wed Dec 9 2015      8:00p      Los Angeles Lakers          122
27  Wed Feb 24 2016      8:00p      Los Angeles Lakers          119
28   Tue Dec 1 2015      8:00p       Memphis Grizzlies          113
29  Sun Nov 15 2015      3:30p       Memphis Grizzlies          114
30  Fri Mar 11 2016      8:00p              Miami Heat          118
31  Fri Feb 19 2016      8:00p              Miami Heat          115
32  Tue Dec 29 2015      8:00p         Milwaukee Bucks          123
33  Thu Dec 31 2015      6:00p         Milwaukee Bucks          120
34  Fri Mar 25 2016      7:00p  Minnesota Timberwolves          132
35   Tue Apr 5 2016     10:30p  Minnesota Timberwolves          124
36  Sun Dec 20 2015      8:00p    New Orleans Pelicans          130
37  Wed Mar 16 2016     10:00p    New Orleans Pelicans          123
38   Wed Mar 9 2016      9:00p         New York Knicks          128
39  Wed Oct 28 2015      8:00p         New York Knicks          122
40  Fri Oct 30 2015      7:00p   Oklahoma City Thunder          139
41  Mon Feb 29 2016     10:00p   Oklahoma City Thunder          131
42   Mon Feb 8 2016      8:00p           Orlando Magic          117
43  Tue Feb 23 2016      7:00p           Orlando Magic          124
44  Fri Nov 27 2015      8:00p      Philadelphia 76ers          114
45  Sun Feb 28 2016      6:00p      Philadelphia 76ers          116
46   Thu Apr 7 2016      8:00p            Phoenix Suns          124
47   Wed Dec 2 2015      7:30p            Phoenix Suns          122
48  Wed May 11 2016     10:30p  Portland Trail Blazers          121
49  Sun Mar 20 2016      4:00p  Portland Trail Blazers          120
50  Wed Nov 25 2015      8:00p        Sacramento Kings          129
51  Mon Nov 23 2015      7:00p        Sacramento Kings          122
52   Mon Jan 4 2016      8:00p       San Antonio Spurs          123
53   Mon Dec 7 2015      7:00p       San Antonio Spurs          119
54  Mon Feb 22 2016      7:30p         Toronto Raptors          122
55  Wed Nov 11 2015      7:00p         Toronto Raptors          119
56   Tue Feb 9 2016      8:30p               Utah Jazz          121
57  Mon Jan 18 2016      2:00p               Utah Jazz          119
58  Sat Jan 30 2016      8:00p      Washington Wizards          123
59  Mon Apr 11 2016      7:30p      Washington Wizards          120

              Home/Neutral  Home PTS Score Type   OT  Attend.  \
0       Philadelphia 76ers        98  Box Score  2OT    12611
1       Philadelphia 76ers        86  Box Score   OT    10429
2   Minnesota Timberwolves       124  Box Score   OT    11639
3           Denver Nuggets       101  Box Score  2OT    16065
4           Denver Nuggets       120  Box Score   OT    14163
5   Minnesota Timberwolves       132  Box Score   OT    15987
6         Sacramento Kings       128  Box Score  2OT    16991
7        Memphis Grizzlies        99  Box Score  2OT    17111
8     New Orleans Pelicans       116  Box Score   OT    16867
9            Brooklyn Nets       100  Box Score  NaN    17732
10  Minnesota Timberwolves        99  Box Score  2OT    16768
11      Washington Wizards       115  Box Score  2OT    20356
12           Brooklyn Nets       118  Box Score   OT    15994
13   Golden State Warriors       128  Box Score  2OT    19596
14      Los Angeles Lakers       109  Box Score   OT    18997
15              Miami Heat       124  Box Score   OT    19744
16           Chicago Bulls       144  Box Score  4OT    21534
17      Philadelphia 76ers       111  Box Score   OT    16087
18            Phoenix Suns       116  Box Score   OT    18055
19    New Orleans Pelicans       120  Box Score   OT    18406
20    Los Angeles Clippers       140  Box Score   OT    19060
21  Minnesota Timberwolves       105  Box Score   OT    14983
22          Denver Nuggets       129  Box Score   OT    11104
23      Washington Wizards       106  Box Score   OT    15486
24          Boston Celtics       139  Box Score   OT    18186
25       Charlotte Hornets       117  Box Score   OT    19145
26  Minnesota Timberwolves       123  Box Score   OT    18076
27       Memphis Grizzlies       128  Box Score   OT    18119
28    New Orleans Pelicans       104  Box Score   OT    16020
29  Minnesota Timberwolves       106  Box Score   OT    12086
30           Chicago Bulls        96  Box Score   OT    22067
31           Atlanta Hawks       111  Box Score   OT    19043
32   Oklahoma City Thunder       131  Box Score   OT    18203
33          Indiana Pacers       116  Box Score   OT    16348
34      Washington Wizards       129  Box Score  2OT    20356
35   Golden State Warriors       117  Box Score   OT    19596
36          Denver Nuggets       125  Box Score  4OT    13857
37        Sacramento Kings       108  Box Score   OT    17086
38            Phoenix Suns        97  Box Score   OT    17105
39         Milwaukee Bucks        97  Box Score  NaN    18717
40           Orlando Magic       136  Box Score  2OT    18846
41        Sacramento Kings       116  Box Score   OT    17317
42           Atlanta Hawks       110  Box Score   OT    13057
43      Philadelphia 76ers       115  Box Score   OT    13745
44         Houston Rockets       116  Box Score   OT    17306
45           Orlando Magic       130  Box Score   OT    16168
46         Houston Rockets       115  Box Score   OT    18227
47         Detroit Pistons       127  Box Score   OT    13985
48   Golden State Warriors       125  Box Score   OT    19596
49        Dallas Mavericks       132  Box Score   OT    20351
50         Milwaukee Bucks       118  Box Score   OT    14120
51       Charlotte Hornets       127  Box Score   OT    14163
52         Milwaukee Bucks        98  Box Score   OT    14718
53      Philadelphia 76ers        68  Box Score   OT    14449
54         New York Knicks        95  Box Score   OT    19812
55      Philadelphia 76ers       103  Box Score   OT    12744
56        Dallas Mavericks       119  Box Score   OT    19394
57       Charlotte Hornets       124  Box Score  2OT    17459
58         Houston Rockets       122  Box Score   OT    18320
59           Brooklyn Nets       111  Box Score   OT    14653

                    Notes  VisitorWon
0   at Mexico City Mexico        True
1       at London England        True
2       at London England       False
3       at London England        True
4       at London England        True
5       at London England       False
6       at London England        True
7   at Mexico City Mexico        True
8       at London England        True
9                     NaN        True
10  at Mexico City Mexico        True
11  at Mexico City Mexico        True
12  at Mexico City Mexico        True
13      at London England       False
14                    NaN        True
15      at London England       False
16  at Mexico City Mexico        True
17      at London England        True
18                    NaN        True
19                    NaN        True
20      at London England       False
21      at London England        True
22      at London England       False
23                    NaN        True
24      at London England       False
25  at Mexico City Mexico        True
26  at Mexico City Mexico       False
27      at London England       False
28                    NaN        True
29                    NaN        True
30      at London England        True
31      at London England        True
32  at Mexico City Mexico       False
33  at Mexico City Mexico        True
34      at London England        True
35      at London England        True
36  at Mexico City Mexico        True
37      at London England        True
38      at London England        True
39                    NaN        True
40                    NaN        True
41      at London England        True
42      at London England        True
43      at London England        True
44                    NaN       False
45      at London England       False
46      at London England        True
47                    NaN       False
48      at London England       False
49      at London England       False
50                    NaN        True
51                    NaN       False
52  at Mexico City Mexico        True
53  at Mexico City Mexico        True
54      at London England        True
55                    NaN        True
56      at London England        True
57      at London England       False
58      at London England        True
59      at London England        True

## Exercise 2

1. Download and upload the Cleaned_Laptop_data.csv. Create a DataFrame df from the data set. Show information of the DataFrame.

In [196]:
df2 = pd.read_csv("/Users/mustafabookwala/Desktop/Drexel/Pre-Junior/Fall 2024/INFO 212/Week 8/Cleaned_Laptop_data(3).csv")  # Loading the dataframe
print(f"Columns of Dataframe: {df2.columns}\n")  # Displaying Column Names
print(f"First five rows of Dataframe: {df2.head()}\n")  # Displaying first five entries
print(df2.describe())  # Displaying statistical information about numerical columns

Columns of Dataframe: Index(['brand', 'model', 'processor_brand', 'processor_name',
       'processor_gnrtn', 'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit',
       'graphic_card_gb', 'weight', 'display_size', 'warranty', 'Touchscreen',
       'msoffice', 'latest_price', 'old_price', 'discount', 'star_rating',
       'ratings', 'reviews'],
      dtype='object')

First five rows of Dataframe:   brand     model processor_brand processor_name processor_gnrtn ram_gb  \
0  ASUS   Celeron           Intel   Celeron Dual         Missing      4
1  ASUS  VivoBook           Intel        Core i3            10th      8
2  ASUS  Vivobook           Intel        Core i3            10th      8
3    HP      Core           Intel        Core i3            11th      8
4    HP      Core           Intel        Core i5            11th      8

  ram_type  ssd   hdd       os  ...  display_size  warranty Touchscreen  \
0     DDR4    0  1024  Windows  ...          15.6         1          No
1     DDR4  512     0  Windows  ...          15.6         1          No
2     DDR4    0  1024  Windows  ...          14.1         1          No
3     DDR4  512     0  Windows  ...          15.6         1          No
4     DDR4  512     0  Windows  ...          15.6         0          No

  msoffice  latest_price old_price discount  star_rating  ratings  reviews
0       No         23990     26990       11          3.8    15279     1947
1       No         37990     50990       25          4.3      990      108
2       No         32890     46990       30          3.9       28        4
3      Yes         42990     57330       25          4.4      158       18
4       No         54990     70171       21          4.2      116       15

[5 rows x 23 columns]

               ssd          hdd      os_bit  graphic_card_gb    warranty  \
count   896.000000   896.000000  896.000000       896.000000  896.000000
mean    431.750000   190.857143   59.178571         1.198661    0.691964
std     316.436824   401.181158   11.453644         2.057454    0.606282
min       0.000000     0.000000   32.000000         0.000000    0.000000
25%     256.000000     0.000000   64.000000         0.000000    0.000000
50%     512.000000     0.000000   64.000000         0.000000    1.000000
75%     512.000000     0.000000   64.000000         2.000000    1.000000
max    3072.000000  2048.000000   64.000000         8.000000    3.000000

        latest_price      old_price    discount  star_rating       ratings  \
count     896.000000     896.000000  896.000000   896.000000    896.000000
mean    76309.860491   88134.154018   18.527902     2.980469    367.391741
std     46613.354368   55719.645554   10.508486     1.965254   1106.309355
min     13990.000000       0.000000    0.000000     0.000000      0.000000
25%     45490.000000   54940.500000   11.000000     0.000000      0.000000
50%     63494.000000   78052.500000   19.000000     4.100000     19.000000
75%     89090.000000  111019.500000   26.000000     4.400000    179.500000
max    441990.000000  377798.000000   57.000000     5.000000  15279.000000

           reviews
count   896.000000
mean     46.152902
std     136.079586
min       0.000000
25%       0.000000
50%       3.000000
75%      23.250000
max    1947.000000

2. Forward fill missing values for each column. Ensure there is no missing value after the filling.

In [197]:
# Print the total number of null values in the DataFrame before filling
print(f"Number of null values in dataframe before Forward Fill: {df2.isnull().sum().sum()}")

# Fill missing values using forward fill
df2 = df2.fillna(method='ffill')

# Print the total number of null values in the DataFrame after filling
print(f"Number of null values in dataframe after Forward Fill: {df2.isnull().sum().sum()}")

Number of null values in dataframe before Forward Fill: 51
Number of null values in dataframe after Forward Fill: 0

/var/folders/mw/4snkpx0970n_6rz3jtvq4yxr0000gn/T/ipykernel_2391/1185669805.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2 = df2.fillna(method='ffill')

3. Create a pivot table containing the means of latest_price and ratings indexed by brand, model, and os. Put os on columns and also compute the margins.

In [198]:
# Create a pivot table to calculate the mean of 'latest_price' and 'ratings'. Group by 'brand' and 'model', with 'os' as columns
pivot_table = pd.pivot_table(
    df2,
    values=['latest_price', 'ratings'],
    index=['brand', 'model'],            
    columns=['os'],                      
    aggfunc='mean',                      
    margins=True,                        
    margins_name='All'                   
)

# Print the pivot table
print(pivot_table)

                       latest_price                               \
os                              Mac        Missing       Windows
brand     model
ALIENWARE Core                  NaN  257365.000000           NaN
APPLE     2020        107740.000000            NaN           NaN
          2021        236156.666667            NaN           NaN
          MacBook     140640.000000            NaN           NaN
ASUS      AMD                   NaN            NaN  80990.000000
...                             ...            ...           ...
lenovo    Ideapad               NaN   72990.000000           NaN
          Yoga                  NaN  137494.000000           NaN
realme    Book                  NaN            NaN  47494.500000
          Book(Slim)            NaN            NaN  56994.500000
All                   151707.857143   85654.777778  72812.400754

                                         ratings                           \
os                              All          Mac     Missing      Windows
brand     model
ALIENWARE Core        257365.000000          NaN   10.000000          NaN
APPLE     2020        107740.000000  2143.250000         NaN          NaN
          2021        236156.666667    35.500000         NaN          NaN
          MacBook     140640.000000  1175.142857         NaN          NaN
ASUS      AMD          80990.000000          NaN         NaN     0.000000
...                             ...          ...         ...          ...
lenovo    Ideapad      72990.000000          NaN  204.000000          NaN
          Yoga        137494.000000          NaN   39.500000          NaN
realme    Book         47494.500000          NaN         NaN  6352.000000
          Book(Slim)   56994.500000          NaN         NaN  3470.000000
All                    76309.860491  1207.535714  767.319444   301.664573


os                            All
brand     model
ALIENWARE Core          10.000000
APPLE     2020        2143.250000
          2021          35.500000
          MacBook     1175.142857
ASUS      AMD            0.000000
...                           ...
lenovo    Ideapad      204.000000
          Yoga          39.500000
realme    Book        6352.000000
          Book(Slim)  3470.000000
All                    367.391741

[144 rows x 8 columns]

4. Using pd.crosstab() to compute the numbers of laptops by brand and os.

In [199]:
# Create a crosstab to count the occurrences of each 'os' for every 'brand'
crosstab_result = pd.crosstab(df2['brand'], df2['os'])

# Print the crosstab
print(crosstab_result)

os         Mac  Missing  Windows
brand
ALIENWARE    0        4        0
APPLE       28        0        0
ASUS         0       16      238
Avita        0        0       18
DELL         0        5      149
HP           0       14      128
Infinix      0        0        4
LG           0        0        5
Lenovo       0       11      137
MICROSOFT    0        0        3
MSI          0        8       44
Mi           0        0        2
Nokia        0        0        4
RedmiBook    0        0        3
SAMSUNG      0        0        1
Smartron     0        0        3
Vaio         0        0        5
acer         0       11       47
iball        0        0        1
lenovo       0        3        0
realme       0        0        4